---
import Layout from '~layouts/Layout.astro';
import WordComponent from '~components/Word.astro';
import WordNav from '~components/WordNav.astro';
import { getAllWords, getWordByDate, getAdjacentWords, getWordDetails } from '~utils/word-utils.js';
import { getMetaDescription } from '~utils/seo-utils.ts';
import { STRUCTURED_DATA_TYPE } from '~utils/schema-utils.ts';

export async function getStaticPaths() {
  const words = getAllWords();
  const paths = [];

  for (const wordData of words) {
    paths.push({ params: { word: wordData.word }, props: { date: wordData.date } });
  }

  return paths;
}

const { date } = Astro.props;

const wordData = getWordByDate(date);
const { previousWord, nextWord } = getAdjacentWords(date);

if (!wordData) {
  return Astro.redirect('/404');
}


const wordDetails = getWordDetails(wordData);
const pageDescription = getMetaDescription({
  word: wordData.word,
  definition: wordDetails.definition,
});
---

<Layout
  title={wordData.word}
  word={wordData}
  description={pageDescription}
  structuredDataType={STRUCTURED_DATA_TYPE.WORD_SINGLE}
>
  <main>
    <WordComponent word={wordData} />
    <WordNav
      previousWord={previousWord}
      nextWord={nextWord}
      previousLabel="Previous Word"
      nextLabel="Next Word"
      ariaLabel="Word navigation"
    />
  </main>
</Layout>


