---
import WordDisplay from '~components/WordDisplay.astro';
import Layout from '~layouts/Layout.astro';
import { getPageMetadata } from '~utils/page-metadata.ts';
import { STRUCTURED_DATA_TYPE } from '~utils/schema-utils.ts';
import { getCurrentWord, getPastWords } from '~utils/word-utils.js';

const currentWord = getCurrentWord();
const pastWords = getPastWords(currentWord?.date);

const MAX_WORDS = 15;

const today = new Date();
const currentMonth = today.getMonth();
const currentYear = today.getFullYear();

const currentMonthWords = pastWords.filter(word => {
  if (!word || word.word === currentWord.word) {
return false;
}
  const wordDate = new Date(word.date);
  return wordDate.getMonth() === currentMonth &&
           wordDate.getFullYear() === currentYear;
});

const recentWords = pastWords.filter(word =>
  word && word.word !== currentWord.word,
).slice(0, MAX_WORDS);


const [wordsToShow, sectionTitle] = currentMonthWords.length > 0
  ? [currentMonthWords, 'This Month\'s Words']
  : recentWords.length > 0
    ? [recentWords, 'Previous Words']
    : [[], ''];

const { title, description } = getPageMetadata(Astro.url.pathname);
---

<Layout word={currentWord} title={title} description={description} structuredDataType={STRUCTURED_DATA_TYPE.WORD_SINGLE}>
  <main>
    <WordDisplay
      currentWord={currentWord}
      wordsToShow={wordsToShow}
      sectionTitle={sectionTitle}
    />
  </main>
</Layout>
