---
import Layout from '~layouts/Layout.astro';
import WordDisplay from '~components/WordDisplay.astro';
import { getCurrentWord, getPastWords } from '~utils/word-utils.js';
import { STRUCTURED_DATA_TYPE } from '~utils/schema-utils.ts';

const currentWord = getCurrentWord();
const pastWords = getPastWords(currentWord?.date);

const MAX_WORDS = 15;

const today = new Date();
const currentMonth = today.getMonth();
const currentYear = today.getFullYear();

const currentMonthWords = pastWords.filter(word => {
  if (!word || word.word === currentWord.word) {
return false;
}
  const wordDate = new Date(word.date);
  return wordDate.getMonth() === currentMonth &&
           wordDate.getFullYear() === currentYear;
});

const recentWords = pastWords.filter(word =>
  word && word.word !== currentWord.word,
).slice(0, MAX_WORDS);

let wordsToShow = [];
let sectionTitle = '';

if (currentMonthWords.length > 0) {
  wordsToShow = currentMonthWords;
  sectionTitle = 'this month\'s words';
} else if (recentWords.length > 0) {
  wordsToShow = recentWords;
  sectionTitle = 'previous words';
}
---

<Layout word={currentWord} structuredDataType={STRUCTURED_DATA_TYPE.WORD_SINGLE}>
  <main>
    <WordDisplay
      currentWord={currentWord}
      wordsToShow={wordsToShow}
      sectionTitle={sectionTitle}
    />
  </main>
</Layout>
