---
import DescriptionText from '~components/DescriptionText.astro';
import Heading from '~components/Heading.astro';
import WordList from '~components/WordList.astro';
import Layout from '~layouts/Layout.astro';
import type { WordData } from '~types/word';
import { getPageMetadata } from '~utils-client/page-metadata.ts';
import { STRUCTURED_DATA_TYPE } from '~utils-client/schema-utils.ts';
import { formatWordCount } from '~utils-client/text-utils';

interface Props {
  words: WordData[];
  descriptionText: string;
  columns?: number;
}

const { words, descriptionText, columns = 2 } = Astro.props;
const { title, description } = getPageMetadata(Astro.url.pathname);
---

<Layout
  title={title}
  description={description}
  structuredDataType={STRUCTURED_DATA_TYPE.WORD_LIST}
>
  <main class="words">
    <Heading text={title} secondaryText={formatWordCount(words.length)} />
    <DescriptionText text={descriptionText} />
    <section class="words__section">
      <WordList words={words} columns={columns} />
    </section>
  </main>
</Layout>

<style>
  .words {
    max-width: var(--content-width-medium);
    margin: 0 auto;
  }

  .words__section {
    margin-bottom: var(--spacing-large);
  }
</style>