---
import DescriptionText from '#components/DescriptionText.astro';
import Heading from '#components/Heading.astro';
import Layout from '#layouts/Layout.astro';
import SectionHeading from '#components/SectionHeading.astro';
import WordSection from '#components/WordSection.astro';
import { getPageMetadata } from '#astro-utils/page-metadata.ts';
import { STRUCTURED_DATA_TYPE } from '#astro-utils/schema-utils.ts';
import { getWordsYearUrl } from '#astro-utils/url-utils';
import { 
  getWordsFromCollection, 
  groupWordsByYear
} from '#astro-utils/word-data-utils';

const allWords = await getWordsFromCollection();
const wordsByYear = groupWordsByYear(allWords);

// Sort years in reverse chronological order
const sortedYearEntries = Object.entries(wordsByYear).reverse();

const { title, description, secondaryText } = getPageMetadata(Astro.url.pathname);
---
<Layout title={title} description={description} structuredDataType={STRUCTURED_DATA_TYPE.WORD_LIST}>
  <Heading text={title} secondaryText={secondaryText} />
  <DescriptionText text={description} />
  
  {sortedYearEntries.map(([year, words]) => (
    <section class="words__section">
      <SectionHeading text={year} href={getWordsYearUrl(year)} />
      <WordSection words={words} columns={3} />
    </section>
  ))}

</Layout>

<style>
  .words__section {
    margin-bottom: var(--spacing-large);
  }
</style>
