---
import Heading from '~components/Heading.astro';
import WordList from '~components/WordList.astro';
import Layout from '~layouts/Layout.astro';
import { getPageMetadata } from '~utils-client/page-metadata.ts';
import { STRUCTURED_DATA_TYPE } from '~utils-client/schema-utils.ts';
import { getAvailableYears, getWordsByYear } from '~utils-client/word-data-utils';
const { title, description } = getPageMetadata(Astro.url.pathname);

export async function getStaticPaths() {
  const years = getAvailableYears();
  return years
    .map(year => ({
      params: { year },
      props: { words: getWordsByYear(year) },
    }))
    .filter(({ props }) => props.words.length > 0);
}

const { year } = Astro.params;
const { words } = Astro.props;
---

<Layout title={title} description={description} structuredDataType={STRUCTURED_DATA_TYPE.WORD_LIST}>
  <main class="year-words">
    <Heading level={1} text={year} secondaryText="Words in" />
    <div class="year-words__content">
      <WordList words={words} columns={2} />
    </div>
  </main>
</Layout>

<style>
    .year-words {
        max-width: var(--content-width-medium);
        margin: 0 auto;
    }

    .year-words__content {
        width: 100%;
    }
</style>
