---
import Heading from '~components/Heading.astro';
import SectionHeading from '~components/SectionHeading.astro';
import WordList from '~components/WordList.astro';
import Layout from '~layouts/Layout.astro';
import { getPageMetadata } from '~utils-client/page-metadata.ts';
import { STRUCTURED_DATA_TYPE } from '~utils-client/schema-utils.ts';
import { formatWordCount } from '~utils-client/text-utils';
import { getWordsFromCollection, groupWordsByYear } from '~utils-client/word-data-utils';

const allWords = await getWordsFromCollection();
const wordsByYear = groupWordsByYear(allWords);
const { title, description } = getPageMetadata(Astro.url.pathname);
---

<Layout title={title} description={description} structuredDataType={STRUCTURED_DATA_TYPE.WORD_LIST}>
  <main class="words">
    <Heading text={title} secondaryText={formatWordCount(allWords.length)} />
    {(Object.entries(wordsByYear) as [string, typeof allWords][]).reverse().map(([year, words]) => (
      <section class="words__section">
        <SectionHeading text={year} href={`/words/${year}`} />
        <WordList words={words} columns={2} />
      </section>
    ))}
  </main>
</Layout>

<style>
    .words {
        max-width: var(--content-width-medium);
        margin: 0 auto;
    }

    .words__section {
        margin-bottom: var(--spacing-large);
    }
</style>
